In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df = pd.read_csv('lc_problems.csv')

In [3]:
df.head()

,id,title,description,is_premium,difficulty,solution_link,acceptance_rate,frequency,url,discuss_count,accepted,submissions,companies,related_topics,likes,dislikes,rating,asked_by_faang,similar_questions
0,1,Two Sum,Given an array of integers `nums` and an integ...,0,Easy,/articles/two-sum,46.7,100.0,https://leetcode.com/problems/two-sum,999,4.1M,8.7M,"Amazon,Google,Apple,Adobe,Microsoft,Bloomberg,...","Array,Hash Table",20217,712,97,1,"[3Sum, /problems/3sum/, Medium], [4Sum, /probl..."
1,2,Add Two Numbers,You are given two non-empty linked lists repre...,0,Medium,/articles/add-two-numbers,35.7,93.1,https://leetcode.com/problems/add-two-numbers,999,1.9M,5.2M,"Bloomberg,Microsoft,Amazon,Google,Facebook,App...","Linked List,Math,Recursion",11350,2704,81,1,"[Multiply Strings, /problems/multiply-strings/..."
2,3,Longest Substring Without Repeating Characters,"Given a string `s`, find the length of the lon...",0,Medium,/articles/longest-substring-without-repeating-...,31.5,90.9,https://leetcode.com/problems/longest-substrin...,999,2.1M,6.7M,"Amazon,Bloomberg,Microsoft,Facebook,Apple,Adob...","Hash Table,Two Pointers,String,Sliding Window",13810,714,95,1,[Longest Substring with At Most Two Distinct C...
3,4,Median of Two Sorted Arrays,Given two sorted arrays `nums1` and `nums2` of...,0,Hard,/articles/median-of-two-sorted-arrays,31.4,86.2,https://leetcode.com/problems/median-of-two-so...,999,904.7K,2.9M,"Amazon,Goldman Sachs,Facebook,Microsoft,Apple,...","Array,Binary Search,Divide and Conquer",9665,1486,87,1,NaN
4,5,Longest Palindromic Substring,"Given a string `s`, return the longest palindr...",0,Medium,/articles/longest-palindromic-substring,30.6,84.7,https://leetcode.com/problems/longest-palindro...,999,1.3M,4.1M,"Amazon,Microsoft,Wayfair,Facebook,Adobe,eBay,G...","String,Dynamic Programming",10271,670,94,1,"[Shortest Palindrome, /problems/shortest-palin..."

In [4]:
df.shape

(1825, 19)

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1825 entries, 0 to 1824
Data columns (total 19 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   id                 1825 non-null   int64
 1   title              1825 non-null   object
 2   description        1825 non-null   object
 3   is_premium         1825 non-null   int64
 4   difficulty         1825 non-null   object
 5   solution_link      987 non-null    object
 6   acceptance_rate    1825 non-null   float64
 7   frequency          1825 non-null   float64
 8   url                1825 non-null   object
 9   discuss_count      1825 non-null   int64
 10  accepted           1825 non-null   object
 11  submissions        1825 non-null   object
 12  companies          1749 non-null   object
 13  related_topics     1571 non-null   object
 14  likes              1825 non-null   int64
 15  dislikes           1825 non-null   int64
 16  rating             1825 non-null   int64
 17  asked_by_faang     1825 non-null   int64
 18  similar_questions  745 non-null    object
dtypes: float64(2), int64(7), object(10)
memory usage: 271.0+ KB

In [6]:
new_df = df.drop(columns = ['is_premium', 'solution_link', 'frequency', 'url', 'discuss_count', 'accepted', 'submissions', 'companies', 'likes', 'dislikes', 'rating', 'asked_by_faang', 'similar_questions'])

In [7]:
new_df.head()

,id,title,description,difficulty,acceptance_rate,related_topics
0,1,Two Sum,Given an array of integers `nums` and an integ...,Easy,46.7,"Array,Hash Table"
1,2,Add Two Numbers,You are given two non-empty linked lists repre...,Medium,35.7,"Linked List,Math,Recursion"
2,3,Longest Substring Without Repeating Characters,"Given a string `s`, find the length of the lon...",Medium,31.5,"Hash Table,Two Pointers,String,Sliding Window"
3,4,Median of Two Sorted Arrays,Given two sorted arrays `nums1` and `nums2` of...,Hard,31.4,"Array,Binary Search,Divide and Conquer"
4,5,Longest Palindromic Substring,"Given a string `s`, return the longest palindr...",Medium,30.6,"String,Dynamic Programming"

In [8]:
new_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1825 entries, 0 to 1824
Data columns (total 6 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   id               1825 non-null   int64
 1   title            1825 non-null   object
 2   description      1825 non-null   object
 3   difficulty       1825 non-null   object
 4   acceptance_rate  1825 non-null   float64
 5   related_topics   1571 non-null   object
dtypes: float64(1), int64(1), object(4)
memory usage: 85.7+ KB

In [9]:
def convert(x):
    l = []
    if(isinstance(x, str)):
        l = x.split(',')
    return l
new_df['related_topics'] = new_df['related_topics'].apply(convert)

In [10]:
new_df.head()

,id,title,description,difficulty,acceptance_rate,related_topics
0,1,Two Sum,Given an array of integers `nums` and an integ...,Easy,46.7,"[Array, Hash Table]"
1,2,Add Two Numbers,You are given two non-empty linked lists repre...,Medium,35.7,"[Linked List, Math, Recursion]"
2,3,Longest Substring Without Repeating Characters,"Given a string `s`, find the length of the lon...",Medium,31.5,"[Hash Table, Two Pointers, String, Sliding Win..."
3,4,Median of Two Sorted Arrays,Given two sorted arrays `nums1` and `nums2` of...,Hard,31.4,"[Array, Binary Search, Divide and Conquer]"
4,5,Longest Palindromic Substring,"Given a string `s`, return the longest palindr...",Medium,30.6,"[String, Dynamic Programming]"

In [11]:
new_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1825 entries, 0 to 1824
Data columns (total 6 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   id               1825 non-null   int64
 1   title            1825 non-null   object
 2   description      1825 non-null   object
 3   difficulty       1825 non-null   object
 4   acceptance_rate  1825 non-null   float64
 5   related_topics   1825 non-null   object
dtypes: float64(1), int64(1), object(4)
memory usage: 85.7+ KB

In [12]:
new_df['description'] = new_df['description'].apply(lambda x : x.split())

In [13]:
new_df.head()

,id,title,description,difficulty,acceptance_rate,related_topics
0,1,Two Sum,"[Given, an, array, of, integers, `nums`, and, ...",Easy,46.7,"[Array, Hash Table]"
1,2,Add Two Numbers,"[You, are, given, two, non-empty, linked, list...",Medium,35.7,"[Linked List, Math, Recursion]"
2,3,Longest Substring Without Repeating Characters,"[Given, a, string, `s`,, find, the, length, of...",Medium,31.5,"[Hash Table, Two Pointers, String, Sliding Win..."
3,4,Median of Two Sorted Arrays,"[Given, two, sorted, arrays, `nums1`, and, `nu...",Hard,31.4,"[Array, Binary Search, Divide and Conquer]"
4,5,Longest Palindromic Substring,"[Given, a, string, `s`,, return, the, longest,...",Medium,30.6,"[String, Dynamic Programming]"

In [14]:
new_df.sample(5)

,id,title,description,difficulty,acceptance_rate,related_topics
473,474,Ones and Zeroes,"[You, are, given, an, array, of, binary, strin...",Medium,44.1,[Dynamic Programming]
1037,1038,Binary Search Tree to Greater Sum Tree,"[Given, the, `root`, of, a, Binary, Search, Tr...",Medium,82.5,"[Tree, Depth-first Search, Binary Search Tree,..."
584,585,Investments in 2016,"[SQL, Schema]",Medium,57.4,[]
21,22,Generate Parentheses,"[Given, `n`, pairs, of, parentheses,, write, a...",Medium,65.7,"[String, Backtracking]"
1733,1734,Decode XORed Permutation,"[There, is, an, integer, array, `perm`, that, ...",Medium,54.0,[Bit Manipulation]

In [15]:
new_df['difficulty'] = new_df['difficulty'].apply(lambda x : [x])

In [16]:
new_df['acceptance_rate'] = new_df['acceptance_rate'].apply(lambda x : [x])

In [17]:
new_df['acceptance_rate'] = new_df['acceptance_rate'].apply(lambda x : [  str(int(round(x[0], -1)))  ])

In [18]:
new_df.head()

,id,title,description,difficulty,acceptance_rate,related_topics
0,1,Two Sum,"[Given, an, array, of, integers, `nums`, and, ...",[Easy],[50],"[Array, Hash Table]"
1,2,Add Two Numbers,"[You, are, given, two, non-empty, linked, list...",[Medium],[40],"[Linked List, Math, Recursion]"
2,3,Longest Substring Without Repeating Characters,"[Given, a, string, `s`,, find, the, length, of...",[Medium],[30],"[Hash Table, Two Pointers, String, Sliding Win..."
3,4,Median of Two Sorted Arrays,"[Given, two, sorted, arrays, `nums1`, and, `nu...",[Hard],[30],"[Array, Binary Search, Divide and Conquer]"
4,5,Longest Palindromic Substring,"[Given, a, string, `s`,, return, the, longest,...",[Medium],[30],"[String, Dynamic Programming]"

In [19]:
new_df['tags'] = new_df['description'] + new_df['difficulty'] + new_df['acceptance_rate'] + new_df['related_topics']

In [20]:
new_df.head()

,id,title,description,difficulty,acceptance_rate,related_topics,tags
0,1,Two Sum,"[Given, an, array, of, integers, `nums`, and, ...",[Easy],[50],"[Array, Hash Table]","[Given, an, array, of, integers, `nums`, and, ..."
1,2,Add Two Numbers,"[You, are, given, two, non-empty, linked, list...",[Medium],[40],"[Linked List, Math, Recursion]","[You, are, given, two, non-empty, linked, list..."
2,3,Longest Substring Without Repeating Characters,"[Given, a, string, `s`,, find, the, length, of...",[Medium],[30],"[Hash Table, Two Pointers, String, Sliding Win...","[Given, a, string, `s`,, find, the, length, of..."
3,4,Median of Two Sorted Arrays,"[Given, two, sorted, arrays, `nums1`, and, `nu...",[Hard],[30],"[Array, Binary Search, Divide and Conquer]","[Given, two, sorted, arrays, `nums1`, and, `nu..."
4,5,Longest Palindromic Substring,"[Given, a, string, `s`,, return, the, longest,...",[Medium],[30],"[String, Dynamic Programming]","[Given, a, string, `s`,, return, the, longest,..."

In [21]:
new_df.drop(columns = ['description', 'difficulty', 'acceptance_rate', 'related_topics'], inplace = True)

In [22]:
new_df.head()

,id,title,tags
0,1,Two Sum,"[Given, an, array, of, integers, `nums`, and, ..."
1,2,Add Two Numbers,"[You, are, given, two, non-empty, linked, list..."
2,3,Longest Substring Without Repeating Characters,"[Given, a, string, `s`,, find, the, length, of..."
3,4,Median of Two Sorted Arrays,"[Given, two, sorted, arrays, `nums1`, and, `nu..."
4,5,Longest Palindromic Substring,"[Given, a, string, `s`,, return, the, longest,..."

In [23]:
new_df['tags'] = new_df['tags'].apply(lambda x : " ".join(x))

In [24]:
new_df['tags'] = new_df['tags'].apply(lambda x : x.lower())

In [25]:
new_df.head()

,id,title,tags
0,1,Two Sum,given an array of integers `nums` and an integ...
1,2,Add Two Numbers,you are given two non-empty linked lists repre...
2,3,Longest Substring Without Repeating Characters,"given a string `s`, find the length of the lon..."
3,4,Median of Two Sorted Arrays,given two sorted arrays `nums1` and `nums2` of...
4,5,Longest Palindromic Substring,"given a string `s`, return the longest palindr..."

In [26]:
from sklearn.feature_extraction.text import CountVectorizer
cv = CountVectorizer(max_features = 5000, stop_words = 'english')

In [27]:
import nltk
from nltk.stem.porter import PorterStemmer
ps = PorterStemmer()

In [28]:
ps.stem('loving')

'love'

In [29]:
ps.stem('loved')

'love'

In [30]:
def stem(text):
    y = []
    for i in text.split():
        y.append(ps.stem(i))
    return " ".join(y)

new_df['tags'] = new_df['tags'].apply(stem)

In [31]:
vectors = cv.fit_transform(new_df['tags']).toarray()
cv.get_feature_names_out()

array(['00', '000', '0000', ..., 'zzs', 'zzxy', 'zzyx'], dtype=object)

In [32]:
from sklearn.metrics.pairwise import cosine_similarity

In [33]:
similarity = cosine_similarity(vectors)

In [34]:
new_df.loc[[1]]

   id            title                                               tags
1   2  Add Two Numbers  you are given two non-empti link list repres t...

In [35]:
sorted(list(enumerate(similarity[3])), key = lambda x : x[1], reverse = True)[1 : 6]

[(348, 0.8013876853447539),
 (87, 0.7886615664729142),
 (320, 0.7692520838274711),
 (349, 0.7535712384470983),
 (1576, 0.7528565130839537)]

In [36]:
def recommend(problem):
    ind = new_df[new_df['title'] == problem].index[0]
    problem_inds = sorted(list(enumerate(similarity[ind])), key = lambda x : x[1], reverse = True)[1 : 6]
    for prob_ind in problem_inds:
        print(new_df.iloc[prob_ind[0]].title)

In [37]:
recommend('Human Traffic of Stadium')

Human Traffic of Stadium
Average Salary: Departments VS Company
User Purchase Platform
Tournament Winners
Number of Transactions per Visit

In [38]:
new_df.sample(5)

,id,title,tags
1523,1524,Number of Sub-arrays With Odd Sum,given an array of integ `arr`. return the numb...
1557,1558,Minimum Numbers of Function Calls to Make Targ...,your task is to form an integ array `nums` fro...
1492,1493,Longest Subarray of 1's After Deleting One Ele...,"given a binari array `nums`, you should delet ..."
990,991,Broken Calculator,on a broken calcul that ha a number show on it...
75,76,Minimum Window Substring,"given two string `s` and `t`, return the minim..."

In [43]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1825 entries, 0 to 1824
Data columns (total 19 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   id                 1825 non-null   int64
 1   title              1825 non-null   object
 2   description        1825 non-null   object
 3   is_premium         1825 non-null   int64
 4   difficulty         1825 non-null   object
 5   solution_link      987 non-null    object
 6   acceptance_rate    1825 non-null   float64
 7   frequency          1825 non-null   float64
 8   url                1825 non-null   object
 9   discuss_count      1825 non-null   int64
 10  accepted           1825 non-null   object
 11  submissions        1825 non-null   object
 12  companies          1749 non-null   object
 13  related_topics     1571 non-null   object
 14  likes              1825 non-null   int64
 15  dislikes           1825 non-null   int64
 16  rating             1825 non-null   int64
 17  asked_by_faang     1825 non-null   int64
 18  similar_questions  745 non-null    object
dtypes: float64(2), int64(7), object(10)
memory usage: 271.0+ KB

In [41]:
import pickle
pickle.dump(df, open("dataset.pkl", "wb"))

In [42]:
pickle.dump(similarity, open("model.pkl", "wb"))

,id,title,description,is_premium,difficulty,solution_link,acceptance_rate,frequency,url,discuss_count,accepted,submissions,companies,related_topics,likes,dislikes,rating,asked_by_faang,similar_questions
7,8,String to Integer (atoi),"Implement the `myAtoi(string s)` function, whi...",0,Medium,/articles/string-to-integer,15.7,56.0,https://leetcode.com/problems/string-to-intege...,999,716.1K,4.6M,"Facebook,Amazon,Microsoft,Google,Goldman Sachs...","Math,String",189,479,28,1,"[Reverse Integer, /problems/reverse-integer/, ..."

In [83]:
def recommend(problem_id):
    ind = df[df['id'] == problem_id].index[0]
    recommended_indices = sorted(list(enumerate(similarity[ind])), key = lambda x : x[1], reverse = True)[1: 6]
    response = []
    for prob_ind in recommended_indices:
        x = df.loc[prob_ind[0]]
        response.append({
            "id": x.iloc[0],
            "name": x.iloc[1],
            "description": x.iloc[2],
            "is_premium": x.iloc[3],
            "difficulty": x.iloc[4],
            "acceptance_rate": x.iloc[6],
            "url": x.iloc[8],
            "accepted": x.iloc[10],
            "submissions": x.iloc[11],
            "companies": x.iloc[12].split(',') if isinstance(x.iloc[12], str) else [],
            "related_topics": x.iloc[13].split(',') if isinstance(x.iloc[13], str) else [],
            "likes": x.iloc[14],
            "dislikes": x.iloc[15],
            "asked_by_faang": x.iloc[17],
        })        
    for x in response:
        print(x)

In [84]:
recommend(8)

{'id': 1370, 'name': 'Increasing Decreasing String', 'description': 'Given a string `s`. You should re-order the string using the following algorithm:\nPick the smallest character from `s` and append it to the result.\n\nPick the smallest character from `s` which is greater than the last appended character to the result and append it.\n\nRepeat step 2 until you cannot pick more characters.\n\nPick the largest character from `s` and append it to the result.\n\nPick the largest character from `s` which is smaller than the last appended character to the result and append it.\n\nRepeat step 5 until you cannot pick more characters.\n\nRepeat the steps from 1 to 6 until you pick all characters from `s`.\n\nIn each step, If the smallest or the largest character appears more than once you can choose any occurrence and append it to the result.\n\nReturn the result string after sorting `s` with this algorithm.\n\n\nExample 1:\nInput: s = "aaaabbbbcccc"\nOutput: "abccbaabccba"\nExplanation: After steps 1, 2 and 3 of the first iteration, result = "abc"\nAfter steps 4, 5 and 6 of the first iteration, result = "abccba"\nFirst iteration is done. Now s = "aabbcc" and we go back to step 1\nAfter steps 1, 2 and 3 of the second iteration, result = "abccbaabc"\nAfter steps 4, 5 and 6 of the second iteration, result = "abccbaabccba"\n\nExample 2:\nInput: s = "rat"\nOutput: "art"\nExplanation: The word "rat" becomes "art" after re-ordering it with the mentioned algorithm.\n\n\nExample 3:\nInput: s = "leetcode"\nOutput: "cdelotee"\n\nExample 4:\nInput: s = "ggggggg"\nOutput: "ggggggg"\n\nExample 5:\nInput: s = "spo"\nOutput: "ops"\n\nConstraints:\n`1 <= s.length <= 500`\n`s` contains only lower-case English letters.', 'is_premium': 0, 'difficulty': 'Easy', 'acceptance_rate': 77.5, 'url': 'https://leetcode.com/problems/increasing-decreasing-string', 'accepted': '39.7K', 'submissions': '51.2K', 'companies': ['Akuna Capital'], 'related_topics': ['String', 'Sort'], 'likes': 345, 'dislikes': 372, 'asked_by_faang': 0}
{'id': 7, 'name': 'Reverse Integer', 'description': 'Given a signed 32-bit integer `x`, return `x` with its digits reversed. If reversing `x` causes the value to go outside the signed 32-bit integer range `[-231, 231 - 1]`, then return `0`.\n\nAssume the environment does not allow you to store 64-bit integers (signed or unsigned).\n\n\nExample 1:\nInput: x = 123\nOutput: 321\n\nExample 2:\nInput: x = -123\nOutput: -321\n\nExample 3:\nInput: x = 120\nOutput: 21\n\nExample 4:\nInput: x = 0\nOutput: 0\n\nConstraints:\n`-231 <= x <= 231 - 1`', 'is_premium': 0, 'difficulty': 'Easy', 'acceptance_rate': 25.9, 'url': 'https://leetcode.com/problems/reverse-integer', 'accepted': '1.5M', 'submissions': '5.7M', 'companies': ['Amazon', 'Google', 'Apple', 'Facebook', 'Bloomberg', 'American Express', 'Microsoft', 'Adobe', 'Uber'], 'related_topics': ['Math'], 'likes': 4548, 'dislikes': 6971, 'asked_by_faang': 1}
{'id': 9, 'name': 'Palindrome Number', 'description': 'Given an integer `x`, return `true` if `x` is palindrome integer.\n\nAn integer is a palindrome when it reads the same backward as forward. For example, `121` is palindrome while `123` is not.\n\n\nExample 1:\nInput: x = 121\nOutput: true\n\nExample 2:\nInput: x = -121\nOutput: false\nExplanation: From left to right, it reads -121. From right to left, it becomes 121-. Therefore it is not a palindrome.\n\n\nExample 3:\nInput: x = 10\nOutput: false\nExplanation: Reads 01 from right to left. Therefore it is not a palindrome.\n\n\nExample 4:\nInput: x = -101\nOutput: false\n\nConstraints:\n`-231 <= x <= 231 - 1`\nFollow up: Could you solve it without converting the integer to a string?', 'is_premium': 0, 'difficulty': 'Easy', 'acceptance_rate': 50.0, 'url': 'https://leetcode.com/problems/palindrome-number', 'accepted': '1.2M', 'submissions': '2.4M', 'companies': ['Microsoft', 'Adobe', 'Bloomberg', 'Facebook', 'Google', 'Yahoo'], 'related_topics': ['Math'], 'likes': 3199, 'dislikes': 1724, 'asked_by_faang': 1}
{'id': 1312, 'name': 'Minimum Insertion Steps to Make a String Palindrome', 'description': 'Given a string `s`. In one step you can insert any character at any index of the string.\n\nReturn the minimum number of steps to make `s` palindrome.\n\nA Palindrome String is one that reads the same backward as well as forward.\n\n\nExample 1:\nInput: s = "zzazz"\nOutput: 0\nExplanation: The string "zzazz" is already palindrome we don\'t need any insertions.\n\n\nExample 2:\nInput: s = "mbadm"\nOutput: 2\nExplanation: String can be "mbdadbm" or "mdbabdm".\n\n\nExample 3:\nInput: s = "leetcode"\nOutput: 5\nExplanation: Inserting 5 characters the string becomes "leetcodocteel".\n\n\nExample 4:\nInput: s = "g"\nOutput: 0\n\nExample 5:\nInput: s = "no"\nOutput: 1\n\nConstraints:\n`1 <= s.length <= 500`\nAll characters of `s` are lower case English letters.', 'is_premium': 0, 'difficulty': 'Hard', 'acceptance_rate': 60.0, 'url': 'https://leetcode.com/problems/minimum-insertion-steps-to-make-a-string-palindrome', 'accepted': '22.6K', 'submissions': '37.6K', 'companies': ['Amazon', 'LinkedIn'], 'related_topics': ['Dynamic Programming'], 'likes': 715, 'dislikes': 13, 'asked_by_faang': 1}
{'id': 754, 'name': 'Reach a Number', 'description': 'You are standing at position `0` on an infinite number line.  There is a goal at position `target`.\n\nOn each move, you can either go left or right.  During the n-th move (starting from 1), you take n steps.\n\nReturn the minimum number of steps required to reach the destination.\n\n\nExample 1:\nInput: target = 3\nOutput: 2\nExplanation:\nOn the first move we step from 0 to 1.\n\nOn the second step we step from 1 to 3.\n\n\nExample 2:\nInput: target = 2\nOutput: 3\nExplanation:\nOn the first move we step from 0 to 1.\n\nOn the second move we step  from 1 to -1.\n\nOn the third move we step from -1 to 2.\n\nNote:\n`target` will be a non-zero integer in the range `[-10^9, 10^9]`.', 'is_premium': 0, 'difficulty': 'Medium', 'acceptance_rate': 40.5, 'url': 'https://leetcode.com/problems/reach-a-number', 'accepted': '30.8K', 'submissions': '76K', 'companies': ['InMobi'], 'related_topics': ['Math'], 'likes': 707, 'dislikes': 542, 'asked_by_faang': 0}

In [86]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1825 entries, 0 to 1824
Data columns (total 19 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   id                 1825 non-null   int64
 1   title              1825 non-null   object
 2   description        1825 non-null   object
 3   is_premium         1825 non-null   int64
 4   difficulty         1825 non-null   object
 5   solution_link      987 non-null    object
 6   acceptance_rate    1825 non-null   float64
 7   frequency          1825 non-null   float64
 8   url                1825 non-null   object
 9   discuss_count      1825 non-null   int64
 10  accepted           1825 non-null   object
 11  submissions        1825 non-null   object
 12  companies          1749 non-null   object
 13  related_topics     1571 non-null   object
 14  likes              1825 non-null   int64
 15  dislikes           1825 non-null   int64
 16  rating             1825 non-null   int64
 17  asked_by_faang     1825 non-null   int64
 18  similar_questions  745 non-null    object
dtypes: float64(2), int64(7), object(10)
memory usage: 271.0+ KB